body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

#chatBox {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    height: 300px;
    overflow-y: scroll;
    margin-bottom: 20px;
}

#messageForm {
    width: 100%;
    max-width: 400px;
}

input[type="text"], button {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    background-color: #0056b3;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #004494;
}

@media (max-width: 600px) {
    #chatBox, #messageForm {
        width: 100%;
        margin: 0;
    }
}

#return_id{
    max-width: 400px;
}